<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
       
    </head>
    <body>

        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">  درباره روبیک چه می دانید ؟</h1>
                     
                        
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXoL90Hc3hXK0Ulk90onzMtrQdFf4y2dDQeA&usqp=CAU" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">مکعب روبیک یک جورچین (پازل) مکانیکی است که در سال ۱۹۷۴ توسط یک مجسمه‌ساز و پروفسور معمار مجارستانی به نام ارنو روبیک ابداع شد. نام اصلی آن "مکعب جادویی" است که توسط مخترع آن نام‌گذاری شده‌است.

                                این اسباب بازی در سال ۱۹۸۰ به افتخار سازنده آن به "مکعب روبیک" تغییر نام یافت و برنده جایزه ویژه بهترین پازل جهان در آلمان شد و گفته شده پرفروش‌ترین اسباب بازی جهان با ۳۵۰٫۰۰۰٫۰۰۰ عدد است.[۱]
                                
                                در هر مکعب روبیک کلاسیک ۶ وجه و در هر وجه ۹ تکه و هر وجه دارای یک رنگ است، در نتیجه کلاً دارای ۶ رنگ (رنگ‌بندی استاندارد: سفید، زرد، نارنجی، قرمز، آبی، و سبز) است. گفته می‌شود این مکعب دارای ۴۳ تریلیون جایگشت (تعداد ترکیب‌های ممکن برای موقعیت رنگ‌ها) است؛ و معمولاً افراد به دو روش مبتدی و حرفه‌ای آن را حل می‌کنند که روش مبتدی دارای ۷ مرحله است و این روش تقریباً دارای ۷ فرمول است اما روش حرفه‌ای دارای ۴ مرحله و بیش از ۱۲۰ فرمول است[۱]
                                
                                مکانیزم محوری این پازل به شما این امکان را می‌دهد که در هر وجه به‌طور جداگانه رنگ‌های دیگر را به هم ریخت، و هدف از بازی این است که تمام رنگ‌های آن در وجه خود و به صورت درست در کنار هم قرار گیرند.
                                
                                در سال‌های بعد این مکعب گسترش یافت و مدل‌های دیگری از آن درست شده‌است، از جمله: ۲×۲×۲ (مکعب جیبی، مینی مکعب یا مکعب یخی)، ۳×۳×۳ (مکعب استاندارد)، ۴×۴×۴ (انتقام روبیک، یا مکعب استاد) و ۵×۵×۵ (روبیک پروفسورها) و به تازگی اندازه‌های بزرگتر نیز درست شده‌اند (۶x۶×۶ و ۷x۷×۷) و اندازه بزرگترین مکعب ثبت شده در گینس ۳۳x۳۳x۳۳ می‌باشد. رکورد سریع‌ترین زمان حل مکعب روبیک متعلق به Yusheng Du با زمان ۳٫۴۷ ثانیه است.</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                   
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                     
                    </div>
                 
                    
                </div>
            </div>
        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
